[submodule "Exercises/01-Project-Hamster"]
	path = Exercises/01-Project-Hamster
	url = https://github.com/hakt0r/React-Ex01
[submodule "08-Complete-Todo"]
	path = 08-Complete-Todo
	url = https://github.com/hakt0r/Todis-SinglePageApp
[submodule "Exercises/02-Forms"]
	path = Exercises/02-Forms
	url = https://github.com/hakt0r/React-Ex02
[submodule "Exercises/03-Map-Lists"]
	path = Exercises/03-Map-Lists
	url = https://github.com/hakt0r/React-Ex03
[submodule "Exercises/04-Deep-State"]
	path = Exercises/04-Deep-State
	url = https://github.com/hakt0r/React-Ex04
[submodule "Exercises/05-useRef-useEffect"]
	path = Exercises/05-useRef-useEffect
	url = https://github.com/hakt0r/React-Ex05
[submodule "Exercises/06-Router"]
	path = Exercises/06-Router
	url = https://github.com/hakt0r/React-Ex06
[submodule "Exercises/07-useReducer"]
	path = Exercises/07-useReducer
	url = https://github.com/hakt0r/React-Ex07
[submodule "Exercises/08-Tic-Tac-Toe"]
	path = Exercises/08-Tic-Tac-Toe
	url = https://github.com/hakt0r/React-Ex08
[submodule "09-Todis-Refactor"]
	path = 09-Todis-Refactor
	url = https://github.com/hakt0r/Todis-SinglePageApp
[submodule "11-Todis-Context"]
	path = 11-Todis-Context
	url = https://github.com/hakt0r/Todis-SinglePageApp
[submodule "12-Todis-Reduced"]
	path = 12-Todis-Reduced
	url = https://github.com/hakt0r/Todis-SinglePageApp
[submodule "13-Redux-Intro"]
	path = 13-Redux-Intro
	url = https://github.com/hakt0r/Calc14.git
[submodule "14-Redux-Organized"]
	path = 14-Redux-Organized
	url = https://github.com/hakt0r/Calc14.git
[submodule "Exercises/X1-Clones"]
	path = Exercises/X1-Clones
	url = https://github.com/hakt0r/Exercise-JS-X1.git
[submodule "Exercises/X2-Twisted-Clones"]
	path = Exercises/X2-Twisted-Clones
	url = https://github.com/hakt0r/Exercise-JS-x2.git
[submodule "Projects/01-The-Social-Network/frontend"]
	path = Projects/01-The-Social-Network/frontend
	url = https://github.com/hakt0r/tsn-frontend.git
